body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Cor de fundo */
    color: #FFFFFF; /* Cor do texto */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

nav {
    background-color: #1F1F1F; /* Cor de fundo do menu */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #00FF6C; /* Cor do texto do link */
    text-decoration: none;
    padding: 10px 20px;
    background-color: #FFFFFF; /* Cor de fundo do link */
    color: #1F1F1F; /* Cor do texto do link */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #00FF6C; /* Cor de fundo ao passar o mouse */
    color: #FFFFFF; /* Cor do texto ao passar o mouse */
}

#content {
    background-color: #1F1F1F; /* Cor de fundo do conteúdo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
}

.content-item {
    display: none; /* Oculta o conteúdo por padrão */
}

.content-item:first-child {
    display: block; /* Mostra o primeiro item de conteúdo */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #00FF6C; /* Cor de fundo do botão */
    color: #1F1F1F; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #1F1F1F; /* Cor de fundo do botão ao passar o mouse */
    color: #00FF6C; /* Cor do texto do botão ao passar o mouse */
}
